<!-- first add dtd of string core and also enable @Transcationl annotation -->

<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/tx/spring-context.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd">
	
	<tx:annotation-driven />
	
<!-- here create bean datasource -->
	<bean class="org.springframework.jdbc.datasource.DriverManagerDataSource"
		name="ds">
		<property name="driverClassName" value="Driver class name" />
		<property name="url" value="you database url" />
		<property name="username" value="username" />
		<property name="password" value="password" />

	</bean>
  <!-- create bean of session factory -->
	<bean class="org.springframework.orm.hibernate5.LocalSessionFactoryBean"
		name="factory">
		<property name="dataSource" ref="ds"></property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					here add dialect</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="show_sql">true</prop>
			</props>
		</property>
		<property name="annotatedClasses">
			<list>
				<value> package + Entityclass</value>
			</list>
		</property>
	</bean>

  <!-- here create bean of hibernate template -->

	<bean class="org.springframework.orm.hibernate5.HibernateTemplate"
		name="hibernateTemplate">
		<property name="sessionFactory" ref="factory"></property>
	</bean>
  
<!-- here create bean of you deo class -->
	<bean class="package+classname" name="Deo">
		<property name="hibernateTemplate" ref="hibernateTemplate">
		</property>
	</bean>
<!-- here create bean of TransactionManager for during changes in database.-->
	<bean class="org.springframework.orm.hibernate5.HibernateTransactionManager"
		name="transactionManager">
		<property name="sessionFactory" ref="factory">
			
		</property>
	</bean>
	
	
	


</beans>






